.afgang-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    color: white;


}

.afgang-item-1{

    width: 550px;
    height: 150px;
    margin: 50px;
    border: 1px solid #333;



}


.afgang-item-2{

    width: 550px;
    height: 150px;
    margin: 30px;
    border: 1px solid #333;

}

.center{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

body{

    background-image: url('car.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.color{
    color: white;
}

.button {
    display: flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    align-content: space-between;
    flex-direction: column;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
