body{
    background-image: url('Sammenstød.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

#Front-text{
    color: orange;
    text-align: center;
    font-size: 70px;
}

#dropdowns{
    display: flex;
    justify-content: center;
    column-gap: 80px;
}
#right,#left{
    display: flex;
    justify-content: center;
    font-size: 2rem;

}
#BestillingDone{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}



